*{
	-fx-rw-defaultBackground : rgb(x1,x2,x3);
	-fx-rw-defaultTextForeground : rgb(x1,x2,x3);
	-fx-rw-listBackground : rgb(x1,x2,x3);
	-fx-rw-registerGrid : rgb(x1,x2,x3);
	-fx-rw-registerBG1 : rgb(x1,x2,x3);
	-fx-rw-registerBG2 : rgb(x1,x2,x3);
	-fx-rw-registerSelectedBG : rgb(x1,x2,x3);
	-fx-rw-registerTextFG : rgb(x1,x2,x3);
	-fx-rw-tableHeaderBG : rgb(x1,x2,x3);
	-fx-rw-tableHeaderFG : rgb(x1,x2,x3);
	-fx-rw-headerFG : rgb(x1,x2,x3);
	-fx-rw-borderColour : rgb(x1,x2,x3);
	-fx-rw-marginColour : rgb(x1,x2,x3);
}
.root {
	-fx-background:-fx-rw-defaultBackground;
	-fx-text-background-color :-fx-rw-defaultTextForeground;
	-fx-text-base-color : -fx-rw-defaultTextForeground;
	-fx-base : -fx-rw-defaultBackground;
}
.myTree .tree-cell:selected{
	-fx-background-color : -fx-rw-registerSelectedBG;
}
.fielderror.combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    }
 .combo-box-base {
 	-fx-text-fill:-fx-rw-defaultTextForeground;
 	-fx-background-color:-fx-rw-defaultBackground;
 	-fx-border-color: -fx-rw-borderColour; 	
    }
.check-box {
	-fx-background-color :-fx-rw-defaultBackground;
	-fx-border-color : -fx-rw-borderColour;
    	-fx-text-fill : -fx-rw-defaultTextForeground;
    }
.toggle-button,
.radio-button{
	-fx-background-color :-fx-rw-defaultBackground;
    	-fx-text-fill : -fx-rw-defaultTextForeground;
    	
    }
 .bannerField  .label{
 	-fx-background-color :transparent;
}

 .selectedBannerField {
 	-fx-stroke : -fx-rw-registerSelectedBG;
 	-fx-fill :transparent;
 }
 .selectedBannerField  .label{
 	-fx-background-color :transparent;
}
 .bannerFieldError {
 	-fx-stroke: red;
 	-fx-fill :transparent;
 }
 .bannerFieldError  .label{
 	-fx-background-color :transparent;
}
.list-cell,
.tree-cell {
    -fx-background: -fx-rw-registerBG1;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-rw-registerTextFG;
}
 .table-cell {
    -fx-background-color: null;
    -fx-border-color: transparent -fx-rw-registerGrid transparent transparent;
    -fx-text-fill: -fx-rw-registerTextFG;
}
.rulerBackground  {
	-fx-fill:-fx-rw-defaultBackground;
}
.rulerMarginBackground  {
	-fx-fill:-fx-rw-marginColour;
}
.rulerStroke {
	-fx-Stroke:-fx-rw-borderColour;
}
.rulerFieldLine {
	-fx-Stroke: red;
}
.rulerForeground Text {
	-fx-fill:-fx-rw-defaultTextForeground;
}
.rulerForeground {
	-fx-background-color:transparent;
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
	-fx-background: -fx-rw-registerSelectedBG;
	-fx-table-cell-border-color:derive(-fx-rw-registerSelectedBG, 20%); 
}

.table-row-cell {
    -fx-background: -fx-rw-registerBG1;
    -fx-background-color: -fx-rw-registerGrid, -fx-background;
    -fx-text-fill: -fx-rw-registerTextFG;
}
.table-row-cell:odd {
    -fx-background: -fx-rw-registerBG2;
}
.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler,
.table-view > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button,
.table-view:constrained-resize .filler,
.tree-table-view:constrained-resize .filler {
    -fx-background-color: -fx-rw-registerGrid, -fx-rw-tableHeaderBG;
    -fx-text-fill : yellow;
}

.label {
	-fx-text-fill:-fx-rw-defaultTextForeground;
}
.optionMessages{
	-fx-background-color:-fx-rw-defaultBackground;
	-fx-text-fill : -fx-rw-defaultTextForeground;
}
.optionMessages > *.button-bar  {
	-fx-background-color:-fx-rw-tableHeaderBG;
}
.optionMessages > *.label  {
	-fx-background-color:-fx-rw-defaultBackground;
	-fx-text-fill : -fx-rw-defaultTextForeground;
}
.optionMessages  .button {
	-fx-background-color:orange;
	-fx-text-fill:-fx-rw-tableHeaderBG;
	-fx-border-color : -fx-rw-borderColour;
}

